.crisis-banner {
  position: relative;
  height: 387px;
  background: #060809;
  background: linear-gradient(
      86.69deg,
      #060809 48.02%,
      rgba(6, 8, 9, 0) 101.94%
    ),
    url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: right;
}

.crisis-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: 100px;
  top: 100px;
  gap: 32px;
  width: 581px;
  height: 223px;
}

.crisis-text {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 581px;
  height: 149px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.crisis-text h2 {
  width: 293px;
  height: 57px;
  color: #ffffff;
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
  margin: 0px;
}

.crisis-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 153.8%;
  margin: 0px;

  color: #8a8a8a;
}

.crisis-box button {
  padding: 12px 16px;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background: #3d7d57;
  border-radius: 4px;
  border: none;
}
