.blanket {
  display: none;
}

.active {
  display: block;
  height: 1371px;
  background: rgba(0, 0, 0, 0.6);
  max-width: 100vw;
  width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blanket form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 48px 32px;
  gap: 20px;
  background: #ffffff;
  border-radius: 10px;
  width: 561px;
  height: auto;
}

.blanket form h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 20px;
  align-self: flex-start;
  margin-bottom: 0px;
}

.heading-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.step {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #8a8a8a;
}

.progressbar {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.progressbar div {
  background: #3d7d57;
  border-radius: 6px;
  width: 240px;
  height: 6px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-box div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
}

.blanket form label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.back-btn {
  color: #3d7d57;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #3d7d57;
}

.blanket form input {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 17px 16px;
  width: 465px;
}
.blanket form button {
  width: 500px;
  padding: 18px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
}
.login-options {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.signup-options {
  flex-direction: column;
  gap: 20px;
}

.login {
  background: #3d7d57;
  color: #ffffff;
  border: none;
  margin: 10px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.socials {
  color: #666666;
  background: #ffffff;
  border: 1px solid #e0e0e0;
}

.social-text {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
}

.redirect {
  text-align: center;
  font-size: 16px;
  color: #8a8a8a;
  border-top: 1px solid #e0e0e0;
  padding-top: 30px;
  border: none;
  background: none;
}

.redirect span {
  color: #3d7d57;
  font-weight: 700;
}

.dismiss-btn {
  margin: 0px;
  border: none;
  background: none;
  color: #3d7d57;
}

.privacy-checkbox {
  display: flex;
  margin-top: 30px;
}

.privacy-checkbox span {
  margin-left: 15px;
  color: #8a8a8a;
}
.blanket form .checkbox {
  width: 20px;
}

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.success-container .congrats {
  background: #f3f7f5;
  width: 159px;
  height: 159px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.congrats span {
  transform: scale(4.5);
}

.success-container h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0px;
}

.success-container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 161.8%;
  text-align: center;
  color: #8a8a8a;
  margin: 0px;
}

.success-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-setup {
  display: block;
  background: #3d7d57;
  color: #ffffff;
  border: none;
  margin: 10px 0px;
  width: 500px;
  padding: 18px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
}
