.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 50px;
  gap: 69px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  /* url(../images/yoga-woman.png); */
  /* background-size: 135% 135%; */
}

.hero-container h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 80px;
  color: #ffffff;
}

.hero-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
