.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 80px;
  gap: 80px;
  height: 90vh;
  position: relative;
  left: 0px;
  top: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/yoga-woman.png);
  background-size: 125% 160%;
}

.hero-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 710px;
  height: 300px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hero-container div h1 {
  margin-bottom: 0px;
  width: 710px;
  height: 160px;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hero-container div p {
  width: 450px;
  height: 23px;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}
