.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 100px;
  gap: 300px;
  height: 88px;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.link1 {
  flex: 0;
}
.link2 {
  display: flex;
  flex: none;
  gap: 50px;
}
.link3 {
  flex: none;
}

.login {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  color: #ffffff;
  background: #b0b0b0;
  border-radius: 4px;
  border: none;
  /* width: 151px; */
  height: 52px;
}
