.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  padding: 18px 80px;
  gap: 200px;
  position: absolute;
  height: 88px;
  left: 0px;
  top: 0px;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.link1 {
  width: 74px;
  height: 32px;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.link2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 48px;
  width: 416px;
  height: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.link-btns {
  display: flex;
  gap: 32px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.link3 {
  padding: 16px;
  background: rgba(176, 176, 176, 0.5);
  border-radius: 4px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  color: #ffffff;
  border: none;
}
