.profile-nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 80px;
  align-items: center;
  height: 88px;
  border-bottom: 1px solid #e0e0e0;
}

nav .profile-logo {
  color: black;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
}

nav .name {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: left;
}

.profile-body .profile-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: left;
}
.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  gap: 69px;
}
.profile-body h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  align-self: flex-start;
  color: #000000;
}

.setup-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 48px 32px;
  gap: 32px;
  width: 561px;
  height: 745px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.progress {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.setup-progress {
  width: 107px;
  height: 6px;
  border-radius: 6px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.body button {
  width: 465px;
  height: 54px;
  border-radius: 4px;
}

.body button:disabled {
  background-color: #538568;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  background: #d9d9d9;
  border-radius: 50%;
}

.photo input {
  display: none;
}

.upload {
  display: flex;
  gap: 12px;
}

.upload aside {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 4px;
}
.upload aside p {
  text-align: left;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.upload aside .header {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.setup1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.item label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

input[type="text" i] {
  padding: 1px 2px;
  width: 465px;
  height: 112px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

.item select {
  width: 465px;
  height: 56px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 16px;
}
.item select option {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
