.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prof-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 140px 80px;
  gap: 10px;
  top: 100px;
  height: 700px;
  background: #ffffff;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.top-section h1 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 0px;
}

.top-section p {
  margin-top: 0px;
  color: #8a8a8a;
}

.control-btns {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
}

.find-more-btn {
  padding: 12px 16px;
  color: #3d7d57;
  border: 1px solid #3d7d57;
  border-radius: 4px;
  background: none;
  font-weight: 700;
  font-size: 14px;
}

.controls {
  display: flex;
  justify-self: flex-start;
  gap: 30px;
}

.controls button {
  background: none;
  border: none;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  height: 365px;
}

.card {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 37.81%,
      rgba(0, 0, 0, 0.581) 88.36%
    ),
    url(../images/profilepic.png);
  border-radius: 10px;
  width: 250px;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 16px;
}
