.coverpic img {
  width: 100%;
}

.profile-nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 80px;
  align-items: center;
  height: 88px;
  border-bottom: 1px solid #e0e0e0;
}

.dashboard-body h3,
p {
  margin: 0px;
}

.dashboard-body h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}
.about-bio h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 12px;
  margin-top: 20px;
}

.green {
  font-weight: 700;
  font-size: 18px;
  color: #3d7d57;
}

.ash {
  font-weight: 700;
  font-size: 18px;
  color: #8a8a8a;
}

.dashboard-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 150px;
  gap: 12px;
  position: absolute;
  left: 0px;
  top: 88px;
}

.person-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0px 50px;
  gap: 386px;
}

.sub-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;

  width: 535px;
  height: 232px;
}

.sub-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 7px;
}

.person-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 7px;
  width: 271px;
}

.edit-btn {
  width: 106px;
  height: 46px;
  background: #3d7d57;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  color: #ffffff;
}

.person-bio {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  width: 1039px;
  height: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.active-link {
  color: #3d7d57;
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 3px solid #3d7d57;
}

.person-bio a {
  color: #8a8a8a;
}

.about-bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  width: 1041px;
}

.bio-1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #8a8a8a;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.bio-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
}

.bio-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
}

.location-availability {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 56px;
}

.exp p {
  color: #f09000;
  background: #fff3e1;
  border-radius: 4px;
  padding: 12px 16px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 16.78px;
}

.icons div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4.52632px 3.39474px;
  width: 40.74px;
  height: 43px;
  background: #f3f7f5;
  border-radius: 4.52632px;
}

.mail div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.915393px solid #e0e0e0;
  padding: 10.9847px 14.6463px;
  gap: 14.65px;
}

.location-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.hrs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
/* --------------------------------------- */
/* Reviews.jsx Styles */

.reviews h4 {
  margin: 0px;
}

.reviews {
  margin-top: 32px;
}

.sort-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  height: 102px;
  border-bottom: 1px solid #e0e0e0;
}

.sort-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.reviews button {
  padding: 10px;
  height: 38px;
  background: none;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  border-radius: 6px;
  color: #8a8a8a;
  font-weight: 700;
}

.sort-active {
  background: #ebf6f0 !important;
  color: #3d7d57 !important;
}

/* ------------------------- */
/* Single Review */

.single-review {
  padding: 24px 0px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 1041px;
}

.single-review h5 {
  margin: 0px;
  font-weight: 700;
  font-size: 18px;
}

.dated {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #3d7d57;
}

.comments {
  font-weight: 400;
  font-size: 16px;
  line-height: 161.8%;
  color: #8a8a8a;
}

/* --------------------- */
/* Edit Profile*/

.blanket {
  display: none;
}

.show-edit {
  display: block;
  height: 1371px;
  background: rgba(0, 0, 0, 0.6);
  max-width: 100vw;
  width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .blanket form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 48px 32px;
  gap: 20px;
  background: #ffffff;
  border-radius: 10px;
  width: 561px;
  height: auto;
} */
