.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  gap: 25px;
  position: relative;
  width: 850px;
  height: 76px;
  background: #ffffff;
  border-radius: 12px;
}

#search {
  position: absolute;
  left: 2.33%;
  right: 7.03%;
  top: 41.33%;
  bottom: 7.03%;
}

.form input {
  border: none;
  margin: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 241px;
  height: 23px;
}

/* .form input::placeholder {
  place-items: bottom;
} */

.form label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  padding: 0px 10px;
  /* display: flex; */
}
.form label option {
  padding: 10px;
  font-size: 18px;
}

.form label select {
  margin: 0px 20px;
  border: none;
}

.form button {
  width: 141px;
  height: 52px;
  background: #3d7d57;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 16px;
}
