.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  padding: 12px 16px;
  gap: 12px;
  background: #ffffff;
  border-radius: 12px;
  width: 893px;
}

#search {
  position: relative;
  top: 6px;
  left: 9px;
}

.form input {
  border: none;
  margin: 20px;
  font-weight: 400;
  font-size: 18px;
  width: 241px;
  height: 23px;
}

.form label:active {
  border: none;
}

.form label {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  padding: 0px 2 0px;
}
.form label option {
  padding: 10px;
  font-size: 18px;
}

.form label select {
  border: none;
  font-size: 18px;
  margin: 0px 30px;
  width: 131px;
}

.form button {
  width: 141px;
  height: 52px;
  background: #3d7d57;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 16px;
}
