/* ------------------------------------- */
/* NavBarDark Styles */

.navbardark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 80px;
  gap: 200px;
  height: 88px;
  border-bottom: 1px solid #e0e0e0;
}

.navbardark a {
  text-decoration: none;
}

.flex-logo {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
}

.flex2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 48px;
  width: 416px;
  height: 20px;
}

.flex2 a {
  color: #8a8a8a;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.flex3 {
  display: flex;
  gap: 20px;
}

.action-btn {
  padding: 16px;
  background: none;
  border: 1px solid #3d7d57;
  border-radius: 4px;
  font-weight: 700;
  /* line-height: 20px; */
  color: #3d7d57;
}

/* ----------------------------------- */
/* SearchPage Styles */

.search-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-flex {
  padding: 100px 80px;
}

.search-sec h3 {
  width: 497px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}

.search-body .line {
  border-top: 1px solid #e0e0e0;
  padding: 0px;
}

.search-results h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 48px 0px;
}

/* ------------------------------------ */
/* SearchBarDark Styles */

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  gap: 12px;
  background: #ffffff;
  border-radius: 12px;
  width: 1087px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  margin-bottom: 48px;
}

#search {
  position: relative;
  top: 6px;
  left: 9px;
}

.search-form input {
  border: none;
  margin-left: 20px;
  font-weight: 400;
  font-size: 18px;
  width: 243px;
  height: 23px;
}

.search-form label {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.search-form label select {
  border: none;
  font-size: 18px;
  margin: 0px 30px;
  width: 116px;
}

#approach {
  width: 158px;
}

.search-form label option {
  padding: 10px;
  font-size: 18px;
}

.search-form button {
  width: 141px;
  height: 52px;
  background: #3d7d57;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 16px;
}

/* ----------------------------------- */
/* Search Card Styles */

.search-card {
  width: 347px;
  height: 398px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  gap: 32px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.card-title h5,
p {
  margin: 0px;
}

.card-title h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.card-title p {
  color: #8a8a8a;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.name-photo {
  display: flex;
}

.title-icons {
  display: flex;
  gap: 12px;
}

.title-icons div {
  width: 38px;
  height: 38px;
  background: #f3f7f5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-hours {
  width: 340px;
  height: 31px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  background: rgba(216, 229, 221, 0.3);
  border-radius: 4px;
  color: #3d7d57;
  font-weight: 700;
  font-size: 13px;
  padding: 6px 0px;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 21px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 96px;
  height: 26px;
  width: 331px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.card-mail {
  width: 45.82px;
  background: none;
  padding: 9px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.call {
  width: 276px;
  height: 48px;
  background: #3d7d57;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.detail div {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #8a8a8a;
  font-weight: 400;
  font-size: 16px;
}

.card-yrs {
  font-weight: 700;
  font-size: 16px;
}
